.cardContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  justify-content: center;
}
.card {
  width: 200px;
  height: 200px;
  border: 1px solid #3f51b5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 5px;
}

.card p {
  display: flex;
  margin: 10px;
  height: 50px;
  align-items: center;
}
#status {
  font-weight: bold;
}
.formAddTech {
  width: 310px;

  margin: 0 auto 20px;
}
.container {
  margin-bottom: 30px;
  width: 100vw;
}
h3 {
  color: #3f51b5;
}
.backButtonUser {
  display: flex;
}
